@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Poppins, sans-serif;
}

body{
  background:#EEF4FF;
  color:#111827;
}

/* Black text on all white pages */
h1,h2,h3,h4,h5,h6,
p,span,label,td,th,div{
  color:#111827;
}

input,select,textarea{
  color:#111827;
}

input::placeholder{
  color:#6B7280;
}

table{
  color:#111827;
}

/* Keep ONLY Navbar text WHITE */
.nav,
.nav *,
.brand,
.brand .title,
.link,
.doctor{
  color:#FFFFFF !important;
}

.active{
  color:#FFFFFF !important;
}

.logout{
  color:#FFFFFF !important;
}